{% extends 'characters/layout.html' %}  
{% load static %}
{% block body %}
<div class="row main-content p-5 justify-content-center">
    <!-- Left side character -->
    <div class="col-lg-5 col-md-12">
        <div class="frame text-center py-4">
            <img class=character-portrait src="{% static 'characters/img/students/' %}{{character.name.lower}}/{{character.name.lower}}_full.png" alt="">
        </div>
    </div>
    <!-- Right side info section -->
    <div class="col-lg-6 col-sm-12">
        <!-- Character Info -->
        <div class="row ">
            <!-- School Info -->
            <div class="col-12">
                <div>
                    <div class="school-icon"><img src="{% static 'characters/img/schools/' %}{{character.school.lower.split.0}}_icon.png" alt="" height="45px" width="50px"></div>
                    <div class="school-title">{{ character.school }}</div>
                    <div class="club">Abydos Foreclosure Task Force</div>
                </div>
            </div>
            <!-- Name & Rarity -->
            <div class="col-12">
                <div class="display-4 name">
                    {{ character.name }}
                    <span class="rarity">
                    {% for star in character.rarity %}
                        <img src="{% static 'characters/img/icons/star_icon.png' %}" alt="" height="25px">
                    {% endfor %}
                    </span>
                </div>
            </div>
            
            <!-- Basic Stats -->
            <div class="col-12">
                <div class="basic-divider">
                    BASIC INFO
                </div>
            </div>
            
            <!-- Combat Info -->
            <!-- Attack Type -->
            <div class="col-md-4 col-sm-12 text-center py-2">
                <div class="type">
                    Attack Type
                </div>
                {% if character.damage == "Explosive" %}
                <div class="explosive">
                    {{ character.damage.upper }}
                </div>
                {% elif character.damage == "Piercing" %}
                <div class="piercing">
                    {{ character.damage.upper }}
                </div>
                {% else %}
                <div class="mystic">
                    {{ character.damage.upper }}
                </div>
                {% endif %}
                    
            </div>
            <!-- Defense Type -->
            <div class="col-md-4 col-sm-12 text-center py-2">
                <div class="type">
                    Defense Type
                </div>
                {% if character.armor == "Light" %}
                <div class="explosive">
                    {{ character.armor.upper }}
                </div>
                {% elif character.armor == "Heavy" %}
                <div class="piercing">
                    {{ character.armor.upper }}
                </div>
                {% else %}
                <div class="mystic">
                    {{ character.armor.upper }}
                </div>
                {% endif %}
                    
            </div>
            <!-- Role & Position -->
            <div class="col-md-4 col-sm-12 text-center py-2">
                <div class="role">
                    {{ character.role.upper }}
                </div>
                <div class="position">
                    {{ character.position.upper }}
                </div>
            </div>
            <!-- Equipment Info -->
            <!-- Weapon -->
            <div class="col-md-3 text-center py-2">
                <div class="equip"><img src="{% static 'characters/img/weapons/' %}{{character.weapon.lower}}_icon.png" alt="" height="55px"><div>{{ character.weapon }}</div></div>
            </div>
            <div class="col-md-3 text-center py-2 ">
                <div class="equip"><img src="{% static 'characters/img/equipment/' %}{{character.equip_1.lower}}_icon.png" alt="" height="55px"><div>{{ character.equip_1 }}</div></div>
            </div>
            <div class="col-md-3 text-center py-2 ">
                <div class="equip"><img src="{% static 'characters/img/equipment/' %}{{character.equip_2.lower}}_icon.png" alt="" height="55px"><div>{{ character.equip_2 }}</div></div>
            </div>
            <div class="col-md-3 text-center py-2">
                <div class="equip"><img src="{% static 'characters/img/equipment/' %}{{character.equip_3.lower}}_icon.png" alt="" height="55px"><div>{{ character.equip_3 }}</div></div>
            </div>
            <!-- Profile -->
            <div class="desc">
                <p class="my-3">{{ character.desc_head }}</p>
                <p class="my-3">{{ character.desc_body }}</p>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}