/*
Base Colors
#F8F9FB
#F0FAFC
#B9DFF2

Sub Colors
#2D4A72
#75DCFF
#AAE1F6

Accent Colors
#FBCF30
#F6E94B
*/

/*
WHITE: #FDFDFD
LIGHT BLUE: #DAEEFD
DARK BLUE: #304E72
GREY: #4E5255
LIGHT GREY:#F6F6F6
EXPLOSIVE: #920108
PIERCING: #BE8801
MYSTIC: #226F9B
*/

/* LAYOUT */
body{
    background-color:#DAEEFD;
    font-weight: bold;
    font-family: Noto Sans Display;
}

.main-content{
    background-color:#FDFDFD;
    color:#00365C;
    border-radius: 5px;
}

.name{
    margin-top:10px;
    margin-bottom:10px;
}

.rarity{
    float:right;
}

.basic-divider{
    text-align: center;
    background-color:#304E72 ;
    color:#FDFDFD;
    border-radius: 5px;
    margin-bottom: 10px;
}

.desc{
    color:#00365C;
}

.school-icon{
    border-style: solid;
    border-width: 2px;
    border-color: #D0D3D8;
    border-radius:5px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    margin-right: 10px;
    width:64px;
    float:left;
}


.school-title{
    font-size: 16px;
    overflow: hidden;
}

.club{
    border-style: none none solid none;
    border-width: 2px;
    border-color: #D0D3D8;
    overflow: hidden;
}



.combat-info{
    text-align: center;
}

.type{
    color:#4E5255;
    border-style: solid solid none;
    border-width: 2px;
    border-color: #D0D3D8;
    border-radius:5px 5px 0px 0px;
}

.role{
    color:#2F4665;
    border-style: solid solid none;
    border-width: 2px;
    border-color: #D0D3D8;
    border-radius:5px 5px 0px 0px;
}

.position{
    background-color:#2F4665;
    color:#FDFDFD;
    border-radius: 0px 0px 5px 5px;
}

.explosive{
    background-color:#920108;
    color:#FDFDFD;
    border-radius: 0px 0px 5px 5px;
}
.piercing{
    background-color:#BE8801;
    color:#FDFDFD;
    border-radius: 0px 0px 5px 5px;
}
.mystic{
    background-color:#226F9B;
    color:#FDFDFD;
    border-radius: 0px 0px 5px 5px;
}


.equip{
    border-style: solid;
    border-width: 2px;
    border-color: #D0D3D8;
    border-radius:5px;
}

.character-portrait{
    height:650px;
}

.frame{
    border-style: solid;
    border-width: 2px;
    border-color: #FBCF30;
    border-radius:5px;
    background-image: url('/static/characters/img/portrait_bg.png');
}



